body{
    font-family: 'Poppins', ;
}
.navbar{
    background-color: #fff !important;
}
.carousel-indicators li {
    background-color: #CECECE;
    width: 12px;
    height: 10px;
    border-radius: 10px;
}
.carousel-indicators li.active {
    width: 30px;
    background: linear-gradient(142deg, #FF9C35 0%, #FFD019 100%);
    border-radius: 25%;
}
h6{
    color: #FF9D00;
    font-size: 22px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 18px;
}
h3{
    font-size: 30px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    border: none;
}
.card-footer .btn{
    margin: 0 auto;
}
.tittle{
    text-align: center;
    position: relative;
}
.tittle::after{
    content: "";
    background-color: #FFD019;
    height: 8px;
    width: 82px;
    position: absolute;
    top: 147%;
    border-radius: 10px;
    left: 46.5%;
}
.shadow{
    box-shadow: 5px 5px 10px lightgrey;
    padding: 50px;
    border-radius: 0px 20px 0px 35px;
}
.categories{
    padding: 50px 0px;
}
ul{
    margin-left: -44px;
}
ul li{
    display: inline;
    margin-left: 5px;
}
ul li img{
    width: 5%;
}
.newsfeed{
    padding: 50px 0px;
}
.newsfeed p{
    text-align: justify;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.newsfeed .btn{
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
