body{
    font-family: 'Poppins', ;
}
.carousel-indicators li {
    background-color: #CECECE;
    width: 12px;
    height: 10px;
    border-radius: 10px;
}
.carousel-indicators li.active {
    width: 30px;
    background: linear-gradient(142deg, #FF9C35 0%, #FFD019 100%);
    border-radius: 25%;
}
h6{
    color: #FF9D00;
    font-size: 22px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 18px;
}
h3{
    font-size: 30px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    border: none;
}
.card-footer .btn{
    margin: 0 auto;
}
.tittle{
    text-align: center;
    position: relative;
}
.tittle::after{
    content: "";
    background-color: #FFD019;
    height: 8px;
    width: 82px;
    position: absolute;
    top: 147%;
    border-radius: 10px;
    left: 46.5%;
}
